.card .card__icon{
    text-align: center;
}
.card {
    height: 400px;
}
.card__icon--large{
    margin-top: 70px;
    margin-bottom: 50px;
}
.card__icon--large p{
    padding-top: 20px;
}
 .card__icon--large i {
    font-size: 7rem;  
}
